/* UTILITY */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --white: #ffffff;
    --pastelblue-hero-square: #B4D0E7;
    --black: #000000;
    --blue-buttons-ticks: #0061FF; /*fare i bottoni con display: block;*/
    --button-hover: #4780de;
    --grey-text: #666966;
    --green-square: #82A97C;
    --amaranth-square: #4E0622;
    --lightblue-square: #0076A5;
    --crimson-square: #CC1616;
    --red-square: #D5001F;
    --darkblue-square: #0D2481;
    --yellow-square: #FFD830;
    --grey-big-square: #F5F5F5;
    --darkred-text: #61082B;
    --cards-border: #DBDBDD;
    --blue-link: #3247F1;
    --lightblue-layover: #b4d0e75c;
    --border-hover: rgba(255, 255, 255, 0.5);
    --beige-hover-nav: #f2eee8;
    --viewport-layover: rgba(0, 0, 0, 0.3);
    --dropdown-text-hover: #d6d3ce;
}

/* GENERAL */
html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--white);
    font-family: Arial, Helvetica, sans-serif;
}

.fixed{
    position: fixed;
}

.flex-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
}

.flex-column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.container-big{
    max-width: 1200px;
    margin: 0px auto;
}

.container-small{
    max-width: 1000px;
    margin: 0px auto;
}

.width-35{
    width: 35%;
}

.width-65{
    width: 65%;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.btn{
    background-color: var(--blue-buttons-ticks);
    color: var(--white);
    padding: 5px 12px;
    display: block;
    width: max-content;
    cursor: pointer;
    text-align: center;
}

.btn:hover{
    background-color: var(--button-hover);
    text-decoration: none;
}
/* HEADER STYLE */

header nav{
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--white);
}

header nav > ul{
    width: 550px;
    padding: 0 15px;
    height: 100%;
}

header nav > ul > li{
    padding: 0 15px;
    position: relative;
    height: 100%;
}

header nav ul a{
    color: var(--grey-text);
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}


/* navbar dropdown menus style section */
header nav .dropdown{
    position: absolute;
    top: 100%;
    background-color: var(--beige-hover-nav);
    z-index: 500;
    visibility: hidden;
}

header nav .dropdown.end{ /*Serve a far iniziare il dropdown menu dal margine destro dei bottoni della parte dx della navbar*/
    right: 1em;
}

header nav > ul > li:hover .dropdown{
    visibility: visible;
}

header nav .dropdown.start{
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: flex-start;
    box-shadow: 0 15px 0 15px var(--beige-hover-nav);
    padding-top: 15px;
}

header nav .dropdown.end{
    justify-content: flex-end;
    flex-wrap: nowrap;
    align-items: flex-start;
    box-shadow: 0 15px 0 15px var(--beige-hover-nav);
    padding-top: 15px;
}

header nav .dropdown.start div, header nav .dropdown.end div{
    width: max-content;
    padding: 15px;
}

header nav .dropdown.start div ul li, header nav .dropdown.end div ul li{
    padding: 8px 0;
    font-size: 12px;
}

header nav .dropdown.start div ul li:hover, header nav .dropdown.end div ul li:hover{
    cursor: pointer;
    background-color: var(--dropdown-text-hover);
}

header nav .start li:not(:first-of-type):hover{
    background-color: var(--beige-hover-nav);
}

header nav .end li:not(:last-of-type):hover{
    background-color: var(--beige-hover-nav);
}

header nav .viewport-layover{
    width: 100vw;
    height: calc(100vh - 80px);
    position: fixed;
    top: 80px;
    left: 0;
    background-color: var(--viewport-layover);
    display: none;
    z-index: 250;
}

header nav .start li:not(:first-of-type):hover ~ .viewport-layover{
    display: inline-block;
}

header nav .end li:not(:last-of-type):hover ~ .viewport-layover{
    display: inline-block
}

/* hero style */
header #hero{
        width: 100%;
        background-color: var(--pastelblue-hero-square);
        padding-top: 80px;
}

header #hero .container-big{
    position: relative;
    top: 75px;
}

header #hero h1{
    font-size: 85px;
    padding-bottom: 75px;
}

header #hero .width-35{
    align-self: stretch;
    padding-bottom: 80px;
    color: var(--grey-text);
}

header #hero .width-35 > *{
    font-size: 19px;
}

header #hero .width-35 .fa-arrow-down{
    font-size: 50px;
    color: var(--black);
    padding-bottom: 10px;
}

header #hero img{
    width: 100%;
}
/* MAIN STYLE */

main{
    margin-top: 80px;
    padding-top: 80px;
    color: var(--grey-text);
}

main h2{
    font-size: 40px;
    padding-bottom: 50px;
    color: var(--black);
}

main h3, footer h3{
    font-size: 25px;
    padding-bottom: 15px;
    color: var(--black)
}

main a{
    color: var(--blue-link);
    text-decoration: underline;
}

header p, main p{
    color: var(--black);
    font-weight: bolder;
}

main label{
    padding-right: 30px;
    color: var(--grey-text);
}

/* FIRST section */
/* billing cards style */
main .billing-cards{
    align-items: stretch;
    padding-top: 50px;
}

main .billing-cards .b-card{
    width: calc((100% - 120px)/ 3);
    min-height: 200px;
    border: 1px solid var(--cards-border);
    padding: 20px;
}

main .offer{
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid var(--cards-border);
}

main .billing-cards .b-card .inner-bcard, main .billing-card-wide .wrapper, main .find-partner{
    width: 95%;
    margin: 30px auto;
}

main .billing-cards .b-card .inner-bcard li{
    position: relative;
    padding-left: 25px;
}

main .billing-cards .b-card .inner-bcard i{
    position: absolute;
    left: 0;
}

main .billing-cards .b-card .bcard-top{
    min-height: 500px;
}

main .billing-cards .b-card .bcard-top i{
    color: var(--black);
}

main .billing-cards .b-card .bcard-top .price{
    height: 90px;
}

main .billing-cards .b-card .bcard-top .price h3, main .billing-card-wide h3, main .find-partner h3{
    font-size: 25px;
    padding-bottom: 15px;
}

main .billing-cards .b-card .inner-bcard .bcard-specifics{
    height: 150px;
}

main .billing-cards .b-card .inner-bcard .bcard-specifics ul{
    height: 100%;
}

main .billing-cards .b-card .inner-bcard .purchase{
    height: 120px;
    width: 100%;
}

main .billing-cards .b-card .inner-bcard .purchase .btn{
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

main .billing-cards .b-card .inner-bcard .purchase > span{
    display: block;
    height: 50px;
}

main .billing-cards .b-card .inner-bcard .purchase > span > span{
    display: inline-block;
    height: 100%;
    border-bottom: 1px solid var(--cards-border);
    padding-right: 5px;
}

main .billing-cards .b-card .inner-bcard .bcard-bottom{
    margin-top: 50px;
}

main .billing-cards .b-card .inner-bcard .bcard-bottom ul{
    margin-top: 40px;
}

main .billing-cards .b-card .inner-bcard .bcard-bottom ul li{
    padding-bottom: 15px;
}

main .billing-cards .b-card .inner-bcard .bcard-bottom i{
    color: var(--blue-buttons-ticks);
}

/* wide card style */
main .billing-card-wide{
    width: 100%;
    border: 1px solid var(--cards-border);
    margin-top: 50px;
}

main .billing-card-wide .wrapper{
    height: 200px;
}

main .billing-card-wide .wrapper .inner-wide{
    height: 100%;
    align-items: flex-start;
}

main .billing-card-wide .wrapper .wide-left{
    width: 65%;
    height: 100%;
}

main .billing-card-wide .wrapper .wide-right{
    width: 30%;
}

main .billing-card-wide .wrapper .wide-right .btn{
    width: 100%;
    padding: 15px;
}

/* SECOND section */

main .find-partner{
    margin-top: 150px;
    height: 500px;
}

main .find-partner img{
    height: 100%;
    width: 60%;
}

main .find-partner .info-partner{
    width: 30%;
    height: 50%;
    margin-bottom: 130px;
}

main .find-partner .info-partner .btn{
    background-color: var(--white);
    border: 1px solid var(--grey-text);
    color: var(--grey-text);
    width: 50%;
    transition: width 1s ease-in-out;
    padding: 10px;
}

main .find-partner .info-partner .btn:hover{
    width: 100%;
}

/* THIRD section */
main .features-section{
    margin-top: 150px;
}

main .features-section .features-row{
    width: 100%;
}

main .features-section .features-row .features-card{
    width: calc((100% - 60px) / 3);
    padding: 50px 10px;
    position: relative;
}

main .features-section .features-row .features-card .layover{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-radius: 20px;
    transition: background-color .3s ease-out, width .3s ease-out, height .3s ease-out;
}

main .features-section .features-row .features-card:hover .layover{
    background-color: var(--lightblue-layover);
    width: 100%;
    height: calc(100% - 80px);
}

main .features-section .features-row .features-card img{
    width: 100%;
}

main .features-section .find-out-more{
    width: 60%;
    margin-top: 175px;
}

main .features-section .find-out-more h2{
    padding-bottom: 70px;
}

/* FOURTH section */
main #affiliations{
    margin-top: 150px;
    background-color: var(--grey-big-square);
}

main #affiliations .partners{
    width: calc((100vw - 25px) / 3);
    height: calc((100vw - 25px) / 3);
}

main #affiliations .partners .partner{
    width: calc((100vw - 25px) / 6);
    height: calc((100vw - 25px) / 6);
    position: relative;
}

main #affiliations .partners .partner svg{
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main #affiliations .partners .partner svg path{
    fill: var(--white);
}

main #affiliations .partners .partner.five svg path:nth-of-type(1){ /*Tra i path della quinta svg (world bycycle...) c'è anche una sezione che non voglio colorare di bianco ma lasciare che si confonda con lo sfondo*/
    fill: var(--red-square);
}

main #affiliations .partners .partner.one{
    background-color: var(--green-square);
}

main #affiliations .partners .partner.two{
    background-color: var(--amaranth-square);
}

main #affiliations .partners .partner.three{
    background-color: var(--lightblue-square);
}

main #affiliations .partners .partner.four{
    background-color: var(--crimson-square);
}

main #affiliations .partners .partner.five{
    background-color: var(--red-square);
}

main #affiliations .partners .partner.six{
    background-color: var(--pastelblue-hero-square);
}

main #affiliations .partners .partner.seven{
    background-color: var(--darkblue-square);
}

main #affiliations .partners .partner.eight{
    background-color: var(--yellow-square);
}

/* Stile per le animazioni di comparsa delle descrizioni dei partner. Classi ancora da sistemare per rendere i percorsi più chiari. */

main #affiliations .partners{
    position: relative;
}

main #affiliations .partners.descriptions p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 1vw;
}

.partners.descriptions{
    overflow: hidden;
}

main #affiliations .partners .description-left, main #affiliations .partners .description-right{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0%;
    transition: opacity 1s ease-in-out;
    background-color: var(--grey-big-square);
    overflow-y: scroll;
    z-index: 100;
}

main #affiliations .partners .description-left{
    left: 100%;
}

main #affiliations .partners .description-right{
    right: 100%;
}

main #affiliations .description-left .inner-description, main #affiliations .description-right .inner-description{
    padding: 40px;
    justify-content: flex-start;
}

main #affiliations .description-left img, main #affiliations .description-right img{
    width: 50%;
    padding-bottom: 40px;
}

main #affiliations .description-left hr, main #affiliations .description-right hr{
    width: 20%;
}

main #affiliations .description-left span:first-of-type, main #affiliations .description-right span:first-of-type{
    padding: 50px 0;
}

main #affiliations .partners .partner:hover{
    border: 15px solid var(--border-hover);
}

main #affiliations .partners .partner.one:hover ~ .description-left.one{
    opacity: 100%;
}

main #affiliations .partners .partner.two:hover ~ .description-left.two{
    opacity: 100%;
}

main #affiliations .partners .partner.three:hover ~ .description-left.three{
    opacity: 100%;
}

main #affiliations .partners .partner.four:hover ~ .description-left.four{
    opacity: 100%;
}

main #affiliations .partners .partner.five:hover ~ .description-right.five{
    opacity: 100%;
}

main #affiliations .partners .partner.six:hover ~ .description-right.six{
    opacity: 100%;
}

main #affiliations .partners .partner.seven:hover ~ .description-right.seven{
    opacity: 100%;
}

main #affiliations .partners .partner.eight:hover ~ .description-right.eight{
    opacity: 100%;
}

/* FIFTH section */

main .free-trial{
    height: 360px;
    background-color: var(--pastelblue-hero-square);
}

main .free-trial .container-small{
    height: 100%;
}

main .free-trial h2{
    width: 50%;
    color: var(--darkred-text);
    padding: 0;
}

main .free-trial .btn{
    background-color: var(--white);
    color: var(--black);
    width: 35%;
    padding: 15px 0;
}

/* SIXTH section */
main .faq{
    padding: 150px 0px;
}

main .faq .questions ul{
    min-height: 315px;
}

main .faq .questions ul li{
    width: 100%;
    border-top: 1px solid var(--grey-text);
    border-bottom: 1px solid var(--grey-text);
    min-height: 100px;
    cursor: pointer;
}

main .faq .questions ul li span{
    width: 90%;
    text-align: justify;
    margin: 0 auto;
    padding: 20px 0;
    display: none;
}

main .faq .questions ul li:active span{
    display: inline-block;
}

main .faq .questions ul li:active .fa-angle-down{
    transform: rotate(180deg);
    align-self: center;
}
/* FOOTER STYLE */

footer{
    min-height: 550px;
    background-color: var(--black);
}

footer h3{
    color: var(--white);
    padding-bottom: 30px;
}

footer a{
    color: var(--white);
}

footer a:hover{
    text-decoration: underline;
}

footer .macro-areas{
    padding: 100px 0;
    width: 100%;
}

footer .macro-areas > li{
    width: calc((100% - 100px) / 5);
    padding: 0 10px;
}

footer .macro-areas .micro-areas li{
    padding-bottom: 15px;
}

footer hr{
    width: 10%;
}

footer #language-selector{
    padding-top: 50px;
}

footer #language-selector .fa-earth-americas{
    color: var(--white);
}

footer #language-selector select{
    background-color: var(--black);
    color: var(--white);
    border: none;
}